<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Add Blog</title>
</head>
<body>
  <nav>
    <%- include('./partials/navbar') %> 
  </nav>
  
  <div class="container mt-4">
    <form action="/add-blog" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name='title' type="text" class="form-control" id="title" aria-describedby="title">
        </div>
        <div class="mb-3">
            <label for="coverImage" class="form-label">Cover Image</label>
            <input name='coverImage' type="file" class="form-control" id="coverImage">
        </div>
        <div class="mb-3">
            <label for="body">Body</label>
            <textarea class="form-control" name='body' id="body" style="height: 150px;"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

    <%- include('./partials/script') %>
</body>
</html>
